body {
  margin: 0;
  font-family: Arial;
  background: #ffe6f0;
  text-align: center;
}

.page {
  min-height: 100vh;
  padding-top: 60px;
}

.photo, img {
  width: 220px;
  border-radius: 20px;
  margin: 20px 0;
}

.card {
  display: none;
  min-height: 100vh;
  padding-top: 60px;
}

.card.active {
  display: block;
  animation: fade 0.8s ease;
}

button {
  padding: 12px 25px;
  border: none;
  background: #ff1a75;
  color: white;
  font-size: 18px;
  border-radius: 25px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
