body {
  margin: 0;
  font-family: Arial;
  background-color: #ffe6f0;
}

.page {
  height: 100vh;
  text-align: center;
  padding-top: 60px;
}

h1, h2 {
  color: #ff1a75;
}

.photo {
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
}

p {
  font-size: 18px;
  padding: 20px;
}
h2 {
  color: #d63384;
}

.page:last-child {
  background-color: #fff0f6;
}
