body {
  background-color: #ffe6f0;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: #ff1a75;
}

.photo {
  width: 200px;
  border-radius: 20px;
  margin-top: 20px;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #ff1a75;
  color: white;
  border: none;
  border-radius: 25px;
}